<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<header>
    <h1 th:inline="text">Hello!</h1>
    <h2>Products Store</h2>
</header>
<table>
    <thead>Head of the table</thead>
    <tbody>
    <tr th:each="product : ${products}">
        <div class="table-active">
            <td th:text="${product.getModel()}"></td>
            <td th:text="${product.getBrand()}"></td>
            <td th:text="${product.getCategory()}"></td>
            <td th:text="${product.getPrice()}"></td>
        </div>
    </tr>
    <tr th:each="brand : ${brands}">
        <div class="table-active">
            <td th:text="${brand.getName()}"></td>

        </div>
    </tr>
    <tr th:each="category : ${categories}">
        <div class="table-active">
            <td th:text="${category.getName()}"></td>

        </div>
    </tr>
    </tbody>
</table>

</body>
</html>