<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<header>
    <h1 th:inline="text">Hello!</h1>
    <h2>Products Store</h2>
</header>
<div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Brand</th>
            <th scope="col">Category</th>
            <th scope="col">Model</th>
            <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <div class="table-active">
                <!--<td th:text="${product.getId}"></td>-->
                <td th:text="${product.getBrand()}"></td>
                <td th:text="${product.getCategory()}"></td>
                <td th:text="${product.getModel()}"></td>
                <td th:text="${product.getPrice()}"></td>
            </div>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>